.content-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #434e62;
    padding: 20px;
}

.title{
    margin-top: 30px;
}

.cards-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20x;
    margin: 30px 0 20px 0;
}