<div class="projects">
    <div class="content-projects">
        <h2>Projetos em Destque</h2>
        <div class="cards-container">
            @for(project of projects; track project){
                <div class="card">
                    <app-card-project [title]="project.name" [imagePath]="project.imagePath" [technologies]="project.technologies" ></app-card-project>
                </div>
            }
        </div>
        <button class="btn">Veja Mais Projetos</button>
    </div>
</div>
