<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">MATHEUS KNAUL</a>
    </div>

    <nav class="nav-links">
        <div class="element"><a routerLink="/" routerLinkActive="active">Home</a></div>
        <div class="element"><a routerLink="/projects" routerLinkActive="active">Projects</a></div>
        <div class="element"><a routerLink="/about-me" routerLinkActive="active">About me</a></div>
        <div class="element"><a routerLink="/contact" routerLinkActive="active">Contact</a></div>
    </nav>
  </div>
</header>
