<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">MATHEUS KNAUL</a>
    </div>

    <nav class="nav-links">
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
      <a routerLink="/about-me" routerLinkActive="active">About me</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
      <a routerLink="/" routerLinkActive="active">English</a>
    </nav>
  </div>
</header>
