.container{
    background-color: #fbfaf8;
    display: flex;
    justify-content: space-around;
}

.logo{
    display: flex;
    align-items: center;
}

.nav-links{
    display: flex;
    flex-direction: row;
}

.element{
    padding: 20px;
    margin: 5px;
}