
<div class="hero">
    <div class="content-hero">
        <div class="details">
            <div class="introduction">
                <p class="hello">Olá, eu sou o</p>
                <h1>Matheus H Knaul</h1>
                <p>Como desenvolvedor <strong>full stack</strong>, crio soluções digitais completas, do conceito inicial ao lançamento. Combinando um <strong>front end interativo</strong> e um <strong>back end robusto e escalável</strong>, desenvolvo aplicações modernas, intuitivas e de alto desempenho. Seja um site institucional, um sistema web ou uma aplicação dinâmica, minha missão é entregar <strong>experiências digitais que realmente fazem a diferença</strong>.</p>    
            </div>
            <div class="buttons-section">
                <button class="btn btn-curriculum" (click)="openModal()"><i class="fa-solid fa-envelope"></i>Meu Currículo</button>
                <button class="btn btn-contact">Entrar em contato</button>
            </div>
        </div>
        <div class="section-photo">
            <div class="photo">
                <img src="/picture.jpg" alt="">
            </div>
        </div>
    </div>

    @if(isModalOpen){
        <app-modal-curriculum (close)=closeModal()></app-modal-curriculum>
    }

</div>