.hero{
    color: rgb(248, 245, 245);
    display: flex;
    height: 450px;

}

.photo{
    width: 400px;
    height: 200px;
    background-color: blue;
}

i{
    margin-right: 5px;
}

.btn-contact{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.introduction strong{
    color: #1d5685;
    font-weight: 400;
}