<div class="header">
    <div class="social-media">
        <ul>
            <li><i class="fa-brands fa-linkedin"></i></li>
            <li><i class="fa-brands fa-github"></i></li>
            <li><i class="fa-brands fa-whatsapp"></i></li>
        </ul>
    </div>
    <div class="nav">
        <div class="nav-container">
            <ul>
                @for(item of menuItems; track item){
                    <li (click)="setActive(item)" class="{{selectedItem === item ? 'active' : ''}}">
                        {{item}}
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
