<div class="header">
    <div class="social-media">
        <ul>
            <li>Linkedin</li>
            <li>Github</li>
            <li>WhatsApp</li>
        </ul>
    </div>
    <div class="nav">
        <div class="nav-container">
            <ul>
                @for(item of menuItems; track item){
                    <li (click)="setActive(item)" class="{{selectedItem === item ? 'active' : ''}}">
                        {{item}}
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
