.main-container{
    min-height: 920px;
}

.hero-container{
    background-color: #41a4f5;
}

.contact-container{
    background-color: #41a4f5;
}

.blog-container{
    background-color: #f7f8fa;
}

.about-container{
    background-color: #f7f8fa;
}

.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}