<div class="about">
    <div class="content-about">
        <div class="content-text">
            <h1>Minhas Habilidades</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima nihil voluptates dignissimos aut molestias excepturi vero ea, ad necessitatibus pariatur ipsum similique, atque beatae animi at, ut quia laborum accusamus?</p>
            <div class="redirect-to-resume"><a href="#">Veja meu currículo</a>.</div>    
        </div>

        <div class="cards-container">
            @for(skill of skillsCard; track skill){
                <div class="card">
                    <app-card [title]="skill.name" [icon]="skill.icon" [skills]="skill.skills"></app-card>
                </div>
            }
        </div>
    </div>
</div>
