.shape{
    width: 630px;
    height: 304px;
    background-color: white;
    flex-direction: column;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    margin: 15px;
    padding: 20px;
}

.post-info{
    display: flex;
    flex-direction: row;
    color: #9b9b9b;
    font-size: 14px;
    margin: 5px 0 5px 0;
}

.title h3{
    color: #41a4f5;
}

.total-comments{
    margin-left: 10px;
}

.banner{
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-top: -20px;
    height: 150px;
    background-color: #41a4f5;
}