<div class="contact">
    <div class="content-contact">
        <div class="photo">
            <img src="/picture.jpg" alt="">
        </div>
        <h2>Interessado em me contratar para o seu projeto?</h2>
        <p>Está buscando alguém para desenvolver sua aplicação do zero ou otimizar um sistema já existente? Basta me enviar um e-mail para <strong><a href="mailto:matheusknaul&#64;gmail.com" class="email">matheusknaul&#64;gmail.com</a></strong> ou usar o <strong>formulário na página de contato</strong>.</p>
        <button class="btn">Entrar em Contato</button>
    </div>
</div>