<div class="contact">
    <div class="content-contact">
        <div class="photo">
            <img src="/assets/images/picture.jpg" alt="">
        </div>
        <h3>Interessado em me contratar para o seu projeto?</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum voluptatum dolores blanditiis aspernatur veniam officia eius pariatur repellendus consequatur inventore nulla voluptates <strong>matheusknaulgmail.com</strong>, in sapiente? Minima, <strong>ou use a minha página de contato</strong>.</p>
        <button class="btn">Entrar em Contato</button>
    </div>
</div>