<div class="main">
    <div class="hero">
        <div class="title">
            <h1>Hi, I'm Matheus Knaul</h1>
        </div>
        <div class="text">
            <p>I'm a software developer specializing in building</p>
            <p>systems and automations.</p>
        </div>
        <div class="buttons-section">
                <button class="btn cta-blue">Check out my work</button>
                <button class="btn contact">Contact me</button>
        </div>
    </div>
    <div class="skills">
        <div class="title">
            <h2>Skills</h2>
        </div>
        <div class="skill-card-section">
            <div class="skill-card"></div>
        </div>
    </div>
    <div class="projects">
        <div class="title">
            <h2>Projects</h2>
            <p>let's solve real-world problems?</p>
        </div>
        <div class="card-section">
            <div class="card">
                <div class="title-card">
                    <h3>Email Management</h3>
                    <div class="card-description">
                        <p>An email management system aimed at managing recipient responses and conversations.</p>
                    </div>
                    <div class="button-section-card">
                        <div class="btn simple">
                            Learn more
                        </div>
                        <div class="btn simple demo">
                            Demo
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="title-card">
                    <h3>Digital Signature System</h3>
                    <div class="card-description">
                        <p>Application that simulates a digital signature system of archives using encryption.</p>
                    </div>
                    <div class="button-section-card">
                        <div class="btn simple">
                            Learn more
                        </div>
                        <div class="btn simple demo">
                            Demo
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="title-card">
                    <h3>Normas Management</h3>
                    <div class="card-description">
                        <p>A standards technical version control system, intended for testing and calibration laboratories.</p>
                    </div>
                    <div class="button-section-card">
                        <div class="btn simple">
                            Learn more
                        </div>
                        <div class="btn simple demo">
                            Demo
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="title-card">
                    <h3>Trading analysis lab</h3>
                    <div class="card-description">
                        <p>Lab for exploring B3 (Ibovespa) price action through candles and tickers.</p>
                    </div>
                    <div class="button-section-card">
                        <div class="btn simple">
                            Learn more
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="curses-certifications">
        <div class="title">
            <h2>Curses and Certifications</h2>
        </div>
        <div class="text">
            <p>My Certifications:</p>
        </div>
    </div>
    <div class="time-to-relax">
        <div class="title">
            <h2>Whould you like this coffee?</h2>
            <p>time to relax</p>
        </div>
    </div>

</div>
